@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@300;400;500&display=swap");
// font-family: 'Lato', sans-serif;
// font-family: 'Oswald', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
// font-family: 'Philosopher', sans-serif;

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 0;
  margin: 0;
  width: 100%;
}
.top-navbar {
  width: 100%;
  background: #f7f7f7;
  .top-navbar-wrapper {
    font-size: 12px;
    width: 100%;
    line-height: 30px;
    color: #01a65a;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .first span {
      margin-right: 15px;
      i {
        font-size: 14px;
        margin-right: 5px;
      }
    }
    .second span {
      margin-left: 15px;
      i {
        margin-right: 5px;

        font-size: 14px;
      }
    }
  }
}
.center-navbar {
  width: 100%;
  .center-navbar-wrapper {
    padding: 5px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .logo-container {
      height: 80px;
      img {
        height: inherit;
      }
    }
    .new-form {
      .br-dropdown {
        position: relative;
        .brBtn {
          cursor: pointer;
          font-size: 12px;
          border: 1px solid #01a65a;
          line-height: 30px;
          padding: 0px 15px;
          color: #01a65a;
          margin-top: 25px;
          border-radius: 30px;
          &:hover {
            background: #dffff0;
          }
        }
        ul {
          position: absolute;
          padding: 5px 15px;
          width: 100%;
          border-radius: 10px;
          display: none;
          z-index: 9;
          background: #f5f5f5;
          line-height: 30px;

          a {
            font-size: 12px;
            display: block;
            color: #01a65a;
          }
        }
        ul.active {
          display: block;
        }
      }
    }
  }
}
.bottom-navbar {
  width: 100%;
  background: #01a65a;
  .bottom-navbar-wrapper {
    width: 100%;
    .nav-links {
      display: flex;
      justify-content: space-evenly;
      a {
        line-height: 50px;
        color: white;
        padding: 0px 15px;
        text-decoration: none;
        &:hover {
          background: #09844b;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .center-navbar {
    .center-navbar-wrapper {
      .logo-container {
        height: 60px;
      }
    }
  }
}
/* Dropdown Button */
.dropbtn {
  background: none;
  color: #fff;
  padding: 0px 15px;
  line-height: 50px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #5a4933 !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  line-height: 50px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: #5a4933;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #f1f1f1;
  color: #5a4933;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 999; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #e5fff3; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  .br-dropdown {
    .brBtn {
      font-size: 18px;
      padding: 8px 8px 8px 32px;
      color: #5a4933;
    }
    ul {
      display: none;
      background: #cacaca;
      li {
        border-bottom: 1px solid gray;
        a {
          font-size: 20px;
        }
      }
    }
    ul.active {
      display: block;
    }
  }
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #5a4933;

  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #5a4933;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .navbar {
    .nav-links {
      display: none;
    }
    .open-nav {
      display: block;
      cursor: pointer;
      font-size: 30px;
      color: white;
      text-align: right;
    }
  }
}
.banner {
  height: 80vh;
  overflow: hidden;
  position: relative;
  .hero {
    .hero-item {
      z-index: 0;
      height: inherit;
      img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
      &::after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #033503b8;
      }
      .text-container {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        left: 25%;
        width: 50%;
        right: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .banner-title {
          font-size: 40px;
          font-weight: 900;
          color: white;
          line-height: 45px;
          font-family: "Philosopher", sans-serif;
          margin-bottom: 30px;
          text-align: center;
        }
        .subtitle {
          font-size: 18px;
          color: white;
          font-family: "Philosopher", sans-serif;
          text-align: center;
        }
        .button-container {
          margin-top: 30px;
          a {
            padding: 10px 30px;
            color: white;
            text-decoration: none;
            border: 2px solid white;
          }
        }
      }
    }
  }
}
.main-title {
  font-size: 24px;
  font-weight: bold;

  line-height: 40px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .banner {
    height: 60vh;
    .hero {
      .hero-item {
        .text-container {
          left: 0px;
          width: 100%;
          right: 0px;
          align-items: center;
          padding: 0px 20px;
          .banner-title {
            font-size: 35px;
            text-align: center;
          }
          .subtitle {
            font-size: 16px;
          }
        }
      }
    }
  }
}

//about-us-section

.about-us-section {
  background: rgb(245, 247, 251);
  padding: 40px;
  .about-us-name {
    font-size: 20px;
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    span {
      font-size: 42px;
      font-weight: bolder;
    }
    .border-below-name {
      background: green;
      width: 50%;
      height: 5px;
      display: flex;
      justify-content: right;
      margin-top: 8px;
    }
    .about-us-boxes {
      display: flex;
      justify-content: space-between;
      padding: 20px 0px;
      margin: 20px 0px;
      height: 140px;
      .box-1 {
        font-size: 15px;
        font-weight: 600;
        background: #e8e5e5;
        width: 32%;
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .box-2 {
        font-size: 15px;
        font-weight: 600;
        background: #99d243;
        width: 32%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .box-3 {
        background: #e8e5e5;
        width: 32%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        button {
          border-radius: 20px;
          margin: 0 auto;
          width: fit-content;
          font-size: 12px;
          color: green;
          border: 2px solid green;
        }
        a {
          text-decoration: none;
          color: green;
        }
      }
    }
  }
  .about-us-description {
    font-size: 14px;
    // padding: 40px 0px 40px 30px;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  .about-us-section {
    .about-us-name {
      font-size: 18px;
      span {
        font-size: 35px;
      }
    }
  }
}

// our-moto

.our-moto {
  background: rgb(230, 231, 232);
  padding: 30px;
  .our-moto-content {
    text-align: center;
    background: white;
    padding: 40px;
    font-size: 14px;
    img {
      height: 80px;
    }
    p {
      font-size: 16px;
      font-weight: 900;
    }
    .our-moto-text {
      text-align: justify;
    }
  }
}

@media (max-width: 768px) {
  .our-moto {
    .our-moto-content {
      margin-bottom: 20px;
    }
  }
}

// our-member

.our-members {
  text-align: center;
  padding-top: 90px;
  span {
    font-size: 30px;
    font-weight: 900;
    border-bottom: solid 2px black;
  }
  .our-members-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
    flex-wrap: wrap;
    img {
      width: 150px;
      border-radius: 75px;
      margin: 20px;
    }
  }
}

// Organizational Structure

.org-structure {
  background: rgb(245, 247, 251);
  text-align: center;
  padding: 50px 0px;
  p {
    font-size: 30px;
    font-weight: 900;
  }
}

// enquiry

.enquiry {
  background: rgb(144, 199, 74);
  color: white;
  text-align: center;
  padding: 50px;
  p {
    font-size: 20px;
    font-weight: 600;
    text-align: right;
  }
  i {
    color: white;
    border: solid 2px white;
    border-radius: 100px;
    padding: 8px;
  }
}

// president section
.president-section {
  background: #f7f7f7;

  .img-container {
    margin-top: 60px;
    max-height: 350px;
    overflow: hidden;
  }
  .name {
    text-align: center;
  }
  .text-container {
    padding-top: 45px;
    .description {
      font-size: 14px;
    }
    .button-container {
      text-align: right;
      margin-top: 30px;
      a {
        color: #01a65a;
      }
    }
  }
  .mobile-banner {
    max-height: 500px;
    overflow: hidden;
  }
}
// loan section
.loan-section {
  padding: 60px 0px 75px 0px;

  box-shadow: 0px -10px 20px #d4d4d445;
  .main-title {
    text-align: center;
  }
  .loan-item {
    margin: 0px -5px;
    margin-top: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 3px #e0e0e0;
    padding: 30px 15px;
    .img-container {
      height: 60px;
      text-align: center;
      img {
        height: inherit;
      }
    }
    .title {
      line-height: 30px;
      font-size: 18px;
      text-align: center;
    }
  }
}

// saving section
.saving-section {
  padding: 60px 0px 75px 0px;
  box-shadow: 0px -10px 20px #d4d4d445;
  .main-title {
    text-align: center;
  }
  .saving-item {
    margin: 0px -5px;
    margin-top: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 3px #e0e0e0;
    padding: 30px 15px;
    .img-container {
      height: 60px;
      text-align: center;
      img {
        height: inherit;
      }
    }
    .title {
      line-height: 30px;
      font-size: 18px;
      text-align: center;
    }
  }
}
// association section
.association {
  padding: 60px 0px;
  .main-title {
    text-align: center;
  }
  .association-slider {
    .img-container {
      margin: 10px;
      height: 120px;
      overflow: hidden;
    }
    .slick-next:before,
    .slick-prev:before {
      color: #01a65a;
    }
  }
}

// testimonial slider
.testimonial {
  padding: 60px 0px;
  background: #f7f7f7;
  .main-title {
    text-align: center;
    margin-bottom: 30px;
  }
  .testimonial-slider {
    .item {
      padding: 15px 0px;
      margin: 10px;
      background: white;
      border-radius: 5px;
      box-shadow: 0px 2px 4px 0px 2px 4px #c1bebe;
      .name {
        font-size: 18px;
        font-weight: bold;
        padding: 0px 30px;
      }
      .location {
        font-size: 14px;
        padding: 0px 30px;
      }
      .description {
        font-size: 13px;
        padding: 0px 30px;
      }
      .img-container {
        margin: 15px auto;
        height: 180px;
        overflow: hidden;
      }
    }
    .slick-next:before,
    .slick-prev:before {
      color: #01a65a;
    }
  }
}
// inquiry
.inquiry {
  background: #01a65a;
  padding: 45px 0px;
  font-size: 18px;
  color: white;
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  i {
    font-size: 24px;
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .inquiry {
    .title {
      text-align: center;
      margin-bottom: 15px;
    }
  }
}

// footer
.footer {
  padding-top: 30px;
  background: #fefefe;
  font-size: 14px;
  #important {
    padding-top: 30px;
    li {
      border-bottom: 1px solid black;
      padding-bottom: 6px;
    }
  }
  .logo-container {
    height: auto;
    img {
      height: 100px;
    }
    p {
      font-size: 25px;
      font-weight: 800;
    }
  }
  .logo-under-title {
    font-size: 30px;
    font-weight: 900;
    padding-top: 15px;
  }
  ul {
    list-style: none;
    padding: 0px;
    a {
      font-size: 14px;
      color: black;
      line-height: 30px;
    }
  }
  .book-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      display: block;
      margin: 15px;
    }
  }
  .contact-us {
    padding-top: 30px;
    p {
      font-size: 16px;
      font-weight: 600;
    }
    i {
      font-size: 14px;
    }
  }
  .social-links {
    display: flex;

    justify-content: flex-start;
    a {
      font-size: 24px;
      margin-right: 15px;
    }
  }
  .title {
    font-size: 18px;
    font-weight: bold;
    font-family: "Philosopher", sans-serif;
  }

  .bottom-footer {
    padding: 20px;
    margin-top: 30px;
    background: #e1e0e0;
    .container {
      display: flex;
      justify-content: space-between;
    }
    .footer-links {
      a {
        font-size: 14px;
        color: black;
        text-decoration: none;
        margin-right: 30px;
      }
    }
    .copyright a {
      color: #714c4c;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .logo-container {
      text-align: center;
    }
    .bottom-footer {
      .container {
        display: block;
        font-size: 12px;
      }
    }
  }
}

// page-global
.page-banner {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  .banner-title {
    font-size: 40px;
    font-weight: 900;
    color: white;
    margin-top: 90px;
    text-align: center;
    font-family: "Philosopher", sans-serif;
    z-index: 1;
  }
  .subtitle {
    font-size: 20px;
    color: white;
    font-family: "Philosopher", sans-serif;
    z-index: 1;
  }
  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000096;
  }
}

// gallery
.gallery-page {
  padding: 60px 0px 90px 0px;

  .close {
    position: absolute;
    top: 5%;
    right: 10%;
    color: white;
    font-size: 40px;
    cursor: pointer;
  }
  .prev {
    position: absolute;
    top: 45%;
    color: white;
    font-size: 36px;
    left: -45px;
    cursor: pointer;
  }
  .next {
    position: absolute;
    top: 45%;
    color: white;
    font-size: 36px;
    right: -45px;
    cursor: pointer;
  }
  .mySlides img {
    max-height: 80vh;
  }
  .modal {
    background: #000000ba;
  }
  .filter-button-wrapper {
    text-align: center;
  }
  .filter-button {
    font-size: 18px;
    text-align: center;
    color: #292929;
    padding: 5px 20px;
    font-family: "Philosopher", sans-serif;

    margin-bottom: 45px;
  }

  .filter-button:active,
  .filter-button:focus,
  .filter-button:hover {
    background: #ecebeb;
    box-shadow: none;
  }

  .port-image {
    width: 100%;
  }

  .gallery_product {
    margin-bottom: 30px;
    height: 180px;
    width: 100%;
    overflow: hidden;
    img {
      height: 180px;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        transition: all 0.4s ease-in;
      }
    }
  }
}
